.container {
  width: 100%;
  height: 135px;
  background-color: #202225;
}

.images {
  width: 10%;
  float: left;
  padding: 1em;
}

.navigation {
  position: relative;
  left: 28em;
  width: 90%;
  height: 100%;
  color: aliceblue;
  text-align: center;
  padding-top: 2em;
}

.link {
  padding: 0 0 0 1em;
  font-size: 48px;

  &:hover {
    color: #d6ab51;
  }
}
